{{log showNavBar}}
{{#if showNavBar}}
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav col-lg-11">
      <li class="nav-item">
        {{#link-to "classes" class="nav-link"}}Classes{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "assignments" class="nav-link"}}Assignments{{/link-to}}
      </li>
    </ul>
    <div class="logout-button">
      <button class="btn btn-outline-success my-2 my-sm-0" {{action "logout"}}>Logout</button>
    </div>
  </nav>
{{/if}}
{{outlet}}
