.sign-in {
  margin-top: 15px;
}

.facebook-button {
  float: right;
}

.form-check-label {
  margin-right: 15px;
}

.classes-div, .assignment-list {
  padding-top: 25px;
}

.assignment-header {
  margin: 5px;
}

.class-item:hover {
  background-color: #bdc3c7;
}

.class-card {
  width: 40%;
}

.add-class-button {
  margin-left: 10px; 
}

.vertical-divider {
  border-left: 1px solid gainsboro;
  height: 500px;
  top: 40px;
}

.save-to-class {
  width: 20%;
  float: right;
  margin-top: 10px;
}

.student-class-list {
  overflow-y: auto;
  height: 400px;
}

.add-question {
  float: right;
}